@use './partials/variables' as *;

@import url('../../node_modules/bootstrap/scss/bootstrap.scss');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}